body {
  background-color: #f5f5dc;
}

h1 {
  font-weight: bold;
  color: #9c9a8f; 
  font-style: oblique;
  text-align: center;
  font-size: 45px;
}

p {
  text-align: left;
  float: left;
}

h2 {
  color: #909e5a;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start
}


